.formatacao-tabela {
    height: 6px;
    margin: 20px;
    padding: 2px;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.cabecalho-moda th, .cabecalho-casa th {
    padding: 5px;
}

.texto-tabela {
    color: antiquewhite;
}

.produtos-tabela {
    background-color: #424250;
}

.produtos-tabela td {
    padding: 5px;
}

